
/* ABEL - FONT */
@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel/Abel-Regular.ttf') format('truetype');
}

/* CAIRO - FONT */
@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-ExtraLight.ttf') format('truetype');
    font-weight: 200, lighter;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-Bold.ttf') format('truetype');
    font-weight: 700, bold;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-Black.ttf') format('truetype');
    font-weight: 900, bolder;
}

/* DIDACT GOTHIC - FONT */
@font-face {
    font-family: 'Didact Gothic';
    src: url('../fonts/Didact_Gothic/DidactGothic-Regular.ttf') format('truetype');
}

/* DOSIS - FONT */
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/Dosis-VariableFont:wght.ttf') format('truetype');
}

/* KHULA - FONT */
@font-face {
    font-family: 'Khula';
    src: url('../fonts/Khula/Khula-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Khula';
    src: url('../fonts/Khula/Khula-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Khula';
    src: url('../fonts/Khula/Khula-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Khula';
    src: url('../fonts/Khula/Khula-Bold.ttf') format('truetype');
    font-weight: 700, bold;
}

@font-face {
    font-family: 'Khula';
    src: url('../fonts/Khula/Khula-ExtraBold.ttf') format('truetype');
    font-weight: 800, bolder;
}

/* QUESTRIAL - FONT */
@font-face {
    font-family: 'Questrial';
    src: url('../fonts/Questrial/Questrial-Regular.ttf') format('truetype');
}

/* QUICKSAND - FONT */
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-VariableFont:wght.ttf') format('truetype');
}


/* MAIN CONTENT */
html, body {
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

/* ::-webkit-input-placeholder {
    color:    #ebebeb;
}
:-moz-placeholder {
   color:    #ebebeb;
   opacity:  1;
}
::-moz-placeholder {
   color:    #ebebeb;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #ebebeb;
}

/* #api .localAccount .entry {
    padding: 0 40px;
} */

button { 
    background-image: none;
    background-color: #3f51b5;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3333333;
    padding: 10px 16px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    -moz-user-select: none;
    -ms-touch-action: manipulation;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: #fff;
}

input[type=text], input[type=email], input[type=password] {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    position: relative;
    font-size: 16px;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    z-index: 3;

    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border-bottom: 2px solid #3f51b5;
    outline: none;
}

.error {
    color: #b00;
    text-align: left;
    width: 100%;
}

.error p {
    margin: 0;
}

.static-content, .signup-static-content {
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.static-content .title, .signup-static-content .title {
    font-family: 'Abel';
}

.static-content h1, .signup-static-content h1 {
    font-size: 2rem;
}

.static-content .login-image, .signup-static-content .login-image {
    position: absolute;
    width: 100%;
    margin: 0;
    /* top: 10%; */
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, 10%);
}

.login-image img{
    width: 65%;
}

.static-content #api, .signup-static-content #api {
    position: absolute;
    width: 100%;
    height: 60%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.signup-static-content #api {
    overflow-x: scroll;
    height: 70%;
    transform: translate(-50%, -35%);
}

.signup-static-content #api #attributeVerification {
    margin: 0 auto;
    display: block;
    width: 90%;
}

#attributeList ul li .attrEntry .itemLevel {
    display: none;
}

#api h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 30px;
    line-height: normal;
}

#api .divider {
    display: none;
}

#api .social {
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 5%;
}

.social .options {
    width: 100%;
}

.social .options #GoogleExchange {
    width: 100%;
    background-color: #c64a29;
    background-image: url(https://acangua.b2clogin.com/static/tenant/templates/idp_logos/white/google.svg);
    background-size: 10% 70%;
    background-position-x: 3%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    display: block;
    font-size: 16px;
    height: 45px;
    width: 100%;
    overflow: hidden;
} 

#api .localAccount .create {
    margin: 5px auto;
    width: 90%;
}

.create p {
    width: 100%;
    text-align: left;
}

.create a {
    float: right;
}

#api .social .intro, #api .localAccount .intro {
    display: none;
}

#api .localAccount .intro {
    margin: 0 auto;
    padding-bottom: 15px;
    width: 90%;
}

#api .intro {
    margin: 0 auto;
    padding-bottom: 15px;
    width: 90%;
    font-family: 'Abel';
    font-size: 1.3rem;
}

#api #attributeList ul{
    padding: 0;
    list-style-type: none;
}

#attributeList label {
    display: none;
}

#attributeList ul li .helpLink {
    display: none;
}

#attributeList #email_ver_but_send{
    margin: 10px auto;
}

#api #attributeList ul input {
    margin-bottom: 10px;
}

#api .localAccount .entry .entry-item{
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    /* width: 325px; */
    width: 90%;
    margin: 0;
    padding: 10px 0;
    z-index: 2;
}

.entry-item label{
    display: none;
}

.entry-item .password-label {
    position: absolute;
    /* padding-top: 50px; */
    text-align: left;
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    z-index: 1;
}

.password-label #forgotPassword {
    margin-top: 25px;
    /* position: absolute; */
    width: 100%;
    cursor: pointer;
    float: right;
    text-align: left;
}

#api .localAccount .entry .buttons {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.buttons #continue {
    margin-bottom: 15px;
}

.buttons #cancel {
    background-color: #c64a29;
}


@media (min-width: 768px) {
    .login-image img{
        width: 55%;
    }

    .static-content #api {
        height: 40%;
        transform: translate(-50%, -10%);
    }

    .signup-static-content #api {
        height: 60%;
        transform: translate(-50%, -27%);
    }

    .signup-static-content #api #attributeVerification {
        width: 60%;
    }

    #api .social {
        width: 60%;
        left: 20%;
    }

    #api .localAccount .create {
        width: 60%;
    }

    #api .intro {
        font-family: 'Abel';
        font-size: 1.7rem;
        display: block;
    }
    
    #api .localAccount .entry .entry-item{
        width: 60%;
    }

    #api .localAccount .entry .buttons {
        margin-top: 40px;
        width: 60%;
    }
}

@media (min-width: 1025px) {
    .static-content .login-image, .signup-static-content .login-image {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 0;
        transform: translate(10%, -50%);
    }
    
    .login-image img{
        width: 65%;
    }

    .static-content #api, .signup-static-content #api {
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-10%, -50%);
    }

    .signup-static-content #api {
        height: 80%;
    }

    #api h2 {
        font-size: 2rem;
    }
}
